@import "reset.css";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

body {
    width: 1900px;
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: 'Open Sans', sans-serif;
}

.header {
    height: 550px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../img/header-bg.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.85;
}

.header-line {
    display: flex;
    align-items: center;
    height: 70px;
    background-color: #1d2124;
}

.logo {
    display: flex;
    color: rgba(255, 255, 255, 255);
    font-size: 22pt;
    padding-left: 21px;
}

.logo::before {
    content: url('../img/logo-img.png');
}

.navigation {
    display: flex;
    padding-left: 350px;
}

.upper-navigation {
    text-decoration: none;
    text-transform: uppercase;
    font-family:  'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 15pt;
    color: rgba(255, 255, 255, 255);
    padding-right: 37px;
}

.upper-navigation:hover {
    color: #14b9d5;
}

.search {
    display: flex;
    justify-content: flex-end;
    background-color: #171a1c;
    padding: 26px 27px;
    margin-left: 370px;
}

.search:hover {
    background-color: #080404;
}


.header-description, .buttons {
    text-align: center;
}

.header-description {
    margin-top: 130px;
    font-size: 27pt;
    color: rgba(255, 255, 255, 255);
}
.buttons {
    margin-top: 70px;
}

.button1, .button2 {
    text-decoration: none;
    font-size: 18pt;
    color: rgba(255, 255, 255, 255);
}

.button1 {
    padding: 18px 21px 20px 21px;
    background-color: #89ca62;
    border-radius: 5px;
    font-weight: 600;
}
.button1:hover {
    background-color: #33CA2C;
}

.button2 {
    padding: 18px 34px 20px 34px;
    background-color: #14b9d5;
    border-radius: 5px;
    font-weight: 600;
}

.button2:hover {
    background-color: #2683D5;
}

.post {
    width: 1900px;
    background-color: #f2f2f2;
}

.name-post {
    display: inline-block;
    width: 1900px;
    font-size: 27pt;
    font-weight: 700;
    color: rgba(24, 180, 207, 255);
    text-align: center;
    text-transform: uppercase;
    margin-top: 45px;
    margin-bottom: 52px;
}

.post-img {
    display: flex;
    width: 1180px;
    height: 900px;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 370px;
}

.post1, .post2, .post3, .post4, .post5, .post6 {
    text-align: center;
    font-size: 15pt;
    font-weight: 700;
    color: rgba(53, 58, 61, 255);
}

.post1, .post2, .post3, .post4, .post5 {
    margin-right: 30px;
    margin-bottom: 30px;
}

.post1-img, .post2-img, .post3-img,
 .post4-img, .post5-img, .post6-img {
    padding: 20px 0 20px 0;
    background-color: #ffffff;
}

.post6 {
    align-self: flex-start;
}

.clients {
    height: 600px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)), url('../img/parallax-bg.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.8;
}

.popular-clients {
    font-size: 32pt;
    font-weight: 700;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    text-transform: uppercase;
    padding-top: 200px;
}

.section-decoration-line {
    margin: 55px auto;
    width: 60px;
    height: 3px;
    border: none;
    background-color: #169cb4;
}

.clients-img {
    display: grid;
    grid-template-columns: 210px 135px 172px 142px;
    grid-column-gap: 76px;
    align-items: center;
    margin-left: 515px;
}



.header-rate {
    font-size: 27pt;
    font-weight: 700;
    color: rgba(24, 180, 207, 255);
    text-align: center;
    text-transform: uppercase;
    padding-top: 63px;
    padding-bottom: 52px;
}

.rate-img {
    display: grid;
    grid-template-columns: 271px 271px 271px 271px 271px 271px 272px;
}

.hot-news {
    height: 1683px;
    display: grid;
    grid-template-rows: 88px 260px 418px 418px 259px;
    grid-template-columns: repeat(4, 277px);
    grid-gap: 25px;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.hot-news-header {
    width: 100%;
    text-align: center;
    align-self: center;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 20px;
    font-size: 27pt;
    color: rgba(24, 180, 207, 255);
    grid-column: span 4;
}

.news-heading {
    font-size: 18px;
    font-weight: 600;
    padding: 20px 30px;
    text-align: center;
}

.heading-all {
    text-align: right;
}

.news-description {
    font-size: 14px;
    text-align: right;
    line-height: 1.3;
    text-align: right;
    padding: 5px 30px;
}

.hot-news-emirate {
    grid-column: span 3;
    display: flex;
    background-color: #F9F7F7;
}

.hot-news-spain-nebula-hotel {
    background-color: #F9F7F7;
}

.hot-news-egypt {
    display: grid;
    grid-column: span 2;
    background-color: #F9F7F7;
}

.egypt {
}

.hot-news-maldives {
    grid-column: span 2;
    background-color: #F9F7F7;
}

.hot-news-tenerife {
    grid-column: span 2;
    background-color: #F9F7F7;
}

.hot-news-great-britain {
    grid-column: span 2;
    background-color: #F9F7F7;
}

.hot-news-ireland {
    background-color: #F9F7F7;
}

.hot-news-spain-kings {
    grid-column: span 3;
    display: flex;
    background-color: #F9F7F7;
}


/*bottom-line*/

.bottom-line {
    display: flex;
    width: 1900px;
    height: 80px;
    background-color: #1d2124;
    align-items: center;
}

.all-rights {
    font-size: 13pt;
    color: rgba(255, 255, 255, 255);
    margin-left: 372px;
}

.lioit {
    margin-left: 560px;
}